html {
    font-family: 'Open Sans';
}
.title {
    font-size: 3rem;
    text-align: center;
    font-family: 'Gloria Hallelujah';
}

body {
    background-image: url(../images/catsdogs.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    margin: auto;
    width: 100vh;
    left: 0%;
    bottom: 100%;
}
.subtitle {
    font-size: 1.5rem;
    text-align: center;

}
nav {
background-color: #808080;
display: flex;
margin: 295pt;
padding: 0.25em;
text-align: center;
justify-content: space-evenly;
position: fixed;
right: -300pt;
width: 100%;
z-index: 5;
}




