html {
    font-family: 'Open Sans';
    
}
.title {
    font-size: 3rem;
    text-align: center;
    font-family: 'Gloria Hallelujah';
}

section {
    background-image: url(../images/catsdogs.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    left: 0%;
    height: 100vh;
    bottom: 100%;
}
.subtitle {
    font-size: 1.5rem;
    text-align: center;

}
nav {
background-color: #808080;
display: flex;
padding: 0.25em;
text-align: center;
justify-content: center;
font-size: larger;
position: fixed;
bottom: 0;
width: 100%;
z-index: 5;
}
a{
    color: white;
    margin: 10px;
}



